.installed.cfg
.~lock*
bin/
build/**/doctrees/
build/**/plot_directive/
build/**/html/_sources/
build/**/html/**/.buildinfo
build/**/html/**/*.py
build/**/html/**/*.inv
build/**/html/**/*.pdf
develop-eggs/
.Python
TRM_2_718_b.odt
include/
lib/
man/
share/
